In [1]:
import pandas as pd

In [2]:
cate_id = pd.read_csv('/Users/thanhnguyen/Desktop/Data_analysis/DE_k2/Project4/category_id.csv')
cate_id.head()

,Assign,name_1,name_2,name_3,name_4,name_5,LEAF_CAT_ID,LEAF_CAT_URL
0,Huy,Voucher - Dịch vụ,Nhà hàng - Ăn uống,Buffet,Buffet BBQ,NaN,c24382,https://tiki.vn/buffet-bbq/c24382
1,Huy,Voucher - Dịch vụ,Nhà hàng - Ăn uống,Buffet,Buffet Hải Sản,NaN,c24384,https://tiki.vn/buffet-hai-san/c24384
2,Huy,Voucher - Dịch vụ,Nhà hàng - Ăn uống,Buffet,Buffet Chay,NaN,c24386,https://tiki.vn/buffet-chay/c24386
3,Huy,Voucher - Dịch vụ,Nhà hàng - Ăn uống,Buffet,Buffet Gọi Món,NaN,c24388,https://tiki.vn/buffet-goi-mon/c24388
4,Huy,Voucher - Dịch vụ,Nhà hàng - Ăn uống,Nhà hàng - Quán ăn,NaN,NaN,c11316,https://tiki.vn/nha-hang-quan-an/c11316

In [3]:
cate_id.Assign.unique()

array(['Huy', 'Thanh', 'Duong', 'Quan'], dtype=object)

In [4]:
cate_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Assign        2311 non-null   object
 1   name_1        2311 non-null   object
 2   name_2        2309 non-null   object
 3   name_3        2282 non-null   object
 4   name_4        1527 non-null   object
 5   name_5        242 non-null    object
 6   LEAF_CAT_ID   2311 non-null   object
 7   LEAF_CAT_URL  2311 non-null   object
dtypes: object(8)
memory usage: 144.6+ KB

In [7]:
thanh_task = cate_id[cate_id['Assign'] == 'Thanh']
thanh_task.shape

(500, 8)

In [8]:
thanh_task.drop('Assign', axis=1, inplace=True)
thanh_task.to_csv('/Users/thanhnguyen/Desktop/Data_analysis/DE_k2/Project4/thanh_task.csv', index=False)

/Users/thanhnguyen/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

# Split 500 categoryid file in to 10 files
**Each file has 50 id**

In [ ]:
# Calculate the number of rows per file
rows_per_file = len(thanh_task) // 10

# Split the dataset and save into separate files
for i in range(10):
    start = i * rows_per_file
    end = start + rows_per_file
    subset = thanh_task.iloc[start:end]
    filename = f"cate_{i+1}.csv"
    subset.to_csv(f"/Users/thanhnguyen/Desktop/Data_analysis/DE_k2/Project4/product_id/{filename}", index=False)

# Concat 10 product data files and upload to MongoDB and My SQL

In [ ]:
# Define the directory path
directory = '/Users/thanhnguyen/Desktop/Data_analysis/DE_k2/Project4/product_data/'

# Read and concatenate the files
files = [f'product_{i}.csv' for i in range(1, 11)]
dataframes = []

for file in files:
    file_path = os.path.join(directory, file)
    if os.path.isfile(file_path):
        df = pd.read_csv(file_path)
        dataframes.append(df)

product = pd.concat(dataframes, ignore_index=True)

# Upload data to MySQL

In [ ]:
import sqlalchemy as db

# create engine to connect to MySQL database
engine = db.create_engine('mysql+mysqlconnector://root:mikesql1234@localhost:3306/test_mysql')

# connect to the database
connection = engine.connect()

# insert the DataFrame into the MySQL database
product.to_sql(name='Tiki_product', con=connection, if_exists='replace', index=False)

# Upload data to MongoDB

In [ ]:
from pymongo import MongoClient


client = MongoClient('localhost', 27017)
database = client['ProductManagement']
collection = database['Product']

# transform data to json documents
data = product.to_dict(orient='records')


collection.insert_many(data)


client.close()

 # Mongo queries

In [ ]:
# use ProductManagement
 
#  1. Count product by category
#  db.Product.aggregate([{ $group: {_id: "$category", count: {$sum: 1 } } }])
 
#  2. Top 10 best seller product
#  db.Product.find().sort({quality_sold: -1}).limit(10)

#  3. Top 10 highest rating product
#  db.Product.find().sort({ rating_average: -1}).limit(10)

#  4. Top 10 lowest rating product
#  db.Product.find().sort({ rating_average: 1}).limit(10)

#  5. Top 10 lowest prince product
#  db.Product.find().sort({ rating_average: 1}).limit(10).pretty()

#  5. Get the product that has "thanh phan" in the description
#  db.Product.find({description: {$regex: "thành phần", $options: "i"}})

# Export question 5 query by conduct dataframe

In [8]:
import pandas as pd


from pymongo import MongoClient


client = MongoClient('localhost', 27017)
db = client['ProductManagement']
collection = db['Product']

data = []
query = {"description": {"$regex": "thành phần"}}
cursor = collection.find(query)


for document in cursor:
    data.append([document["id"], document["description"]])


df = pd.DataFrame(data, columns=["id", "ingredient"])

output_file = '/Users/thanhnguyen/Desktop/Data_analysis/DE_k2/Project4/Project4_Tiki/Data/Thanhphan_data.csv'
df.to_csv(output_file, index=False)


print("Export sucess!")

Export sucess!